.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background: white;
}

.map-container {
  height: 75vh;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dropzone {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px;
  color: #007bff;
  transition: background-color 0.2s;
  width: 70%;
}

.dropzone:hover {
  background-color: #e2e6ea;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.signin-card {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.signin-button, .signout-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.signin-button:hover, .signout-button:hover {
  background-color: #0056b3;
}

.back-button, .signout-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 10px;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.details-image {
  max-width: 20%; /* Smaller image size */
  height: auto;
  display: block;
  margin: auto; /* Ensures centering */
}

.details-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}



.back-button:hover, .signout-button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .map-container {
    height: 50vh;
  }

  .signin-card, .dropzone {
    width: 90%;
  }
}
