.back-button, .signout-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 10px;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.details-image {
  max-width: 20%; /* Smaller image size */
  height: auto;
  display: block;
  margin: auto; /* Ensures centering */
}

.details-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}



.back-button:hover, .signout-button:hover {
  background-color: #0056b3;
}

