.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.imageSection {
  flex: 2;
  animation: backgroundCycle 10s infinite alternate;
  background-size: cover;
  background-position: center;
}

@keyframes backgroundCycle {
  0%, 100% {
    background-image: url('/photo1.jpg');
  }
  50% {
    background-image: url('/photo2.jpg');
  }
}

.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(8, 10, 51, 0.85);
  padding: 20px;
}

.message {
  text-align: center;
  margin-bottom: 20px;
  color: #f1f1f1;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signin {
  background-color: #272726;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signin:hover {
  background-color: #2d2d2d;
}
